<footer class="text-center">
  <small class="text-xs text-gray-600">
    ©2023-present
    <a
      href="https://mrcai.dev"
      target="_blank"
      class="hover:text-gray-900 underline underline-offset-4"
    >
      Yuwang Cai
    </a>
  </small>
</footer>
